[Unit]
Description=Gunicorn server for staging.blueocianic.de

[Service]
Restart=on-failure
User=ubuntu
WorkingDirectory=/home/ubuntu/sites/blueocianic.de
EnvironmentFile=/home/ubuntu/sites/blueocianic.de/.env

ExecStart=/home/ubuntu/sites/blueocianic.de/virtualenv/bin/gunicorn --bind unix:/tmp/staging.blueocianic.de.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
